@import "config";

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  margin: 40px 100px;
  gap: 30px;
  &__intro {
    margin: auto;
    &__head {
      font-weight: 800;
      font-size: 2.6rem;
      margin-bottom: 12px;
      margin: auto;
      width: 80%;
    }
    &__body {
      width: 80%;
      margin: auto;
    }
  }

  &__form {
    width: 90%;
    margin: auto;
    &__heading {
      background: $blue;
      padding: 14px 10px;
      border-radius: 8px;
      text-align: center;
      margin-bottom: 15px;
      box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.2);
      p {
        margin: 0;
      }
    }
    &__form {
      background-color: #fff;
      border-radius: 10px;
      padding: 20px 40px;
      padding-top: 40px;
      box-shadow: 0 12px 0 0 rgba(0, 0, 0, 0.2);
      &__field {
        margin-bottom: 18px;
        width: 100%;
        input {
          width: 93%;
          padding: 15px 0;
          padding-left: 22px;
          border-radius: 4px;
          font-weight: 700;
          border: 1px solid $grayishBlue;
          transition: border 200ms ease-out;
          outline: none;
          color: $darkBlue;
          font-size: 16px;
          &:focus {
            border: 1px solid $darkBlue;
          }
        }
      }
      button {
        width: 99%;
        padding: 18px 16px;
        background: $green;
        border: none;
        color: #fff;
        font-weight: 600;
        border-radius: 4px;
        box-shadow: 0 4px 0 0 darken($green, $amount: 8);
        cursor: pointer;
        font-size: 15px;
        text-align: center;
      }
      .terms {
        font-size: 12px;
        text-align: center;
        margin-top: 18px;
        color: $grayishBlue;
        a {
          color: $red;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}

.error {
  color: $red;
  font-size: 13px;
  float: right;
  font-style: italic;
  margin: 4px 5px 4px 0;
  visibility: hidden;
}
.visible {
  visibility: visible;
}

#input-error {
  border: 2px solid $red;
  color: $red;
}

footer {
  text-align: center;
  .attribution {
    a {
      text-decoration: none;
      color: $darkBlue;
    }
  }
}

@import "media";
